@model BeanScene.Web.Models.SittingSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SittingSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SittingScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
