@model IEnumerable<BeanScene.Web.Models.SittingSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.SittingScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SittingScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SittingScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
